body{
	background-color: #ebedee;
}
di{
	margin: 0;
    padding: 0;
    font: 13px/1.4 'Malgun Gothic',Gulim,AppleGothic,Sans-serif;
    letter-spacing: -0.1em;
    color: #333;
}
strong, b {
    font-weight: bold;
}
.container {	
	height: 100%;
	max-width: 1260px;
	/* 대형 모니터에서 이 레이아웃이 지나치게 넓어지는 것을 방지하기 위해 max-width를 사용할 수 있습니다. 이 속성을 사용하면 선 길이를 더욱 쉽게 읽을 수 있습니다. IE6에서는 이 선언이 적용되지 않습니다. */
	min-width: 780px;
	/* 이 레이아웃이 지나치게 좁아지는 것을 방지하기 위해 min-width를 사용할 수 있습니다. 이 속성을 사용하면 사이드 열에서 선 길이를 더욱 쉽게 읽을 수 있습니다. IE6에서는 이 선언이 적용되지 않습니다. */
	margin: 0 auto; 
	/* 측면 자동 값, 폭으로 연결, 레이아웃 가운데 정렬. .container의 폭을 100%로 설정하는 경우에는 필요하지 않습니다. */
}

.content {
	margin: 0 auto;		
}
.hader{
	margin-top: -10px;
	height: 50px;
	background-color: #fff;
}
.hader_div{
	border: 1px solid red;
	width: 50%;
	margin: 0 auto;
}
.hader_div_1{
	width: 100px;
	float: left;
	margin-left: 150px;
}

.hader_div_1>img{
	height: 50px;
}
.hader_div_2{
	width: 200px;
	height: 50px;
	float: right;
	margin-right: 50px;
}
.hader_div_2>a{
	font-size: 12px;
	text-decoration:none;
	color:#000;
}
.content_div{
	width: 100%;
	height: 600px;
}
.content_div_h1{
	font-size: 29px;
	font-weight:bold;
}
.content_div_h1> span{
	display: block;
    margin-top: 10px; 
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.1em;
    color: #666;
}
.content_div_1, .content_div_2{
	width:45%;
	height: 350px;
	border: 1px solid #d7d7d7;
	float: left;
	background-color: #fff;
}
.content_div_1{
	margin-left: 10px;
}
.content_div_2{
	margin-left: 40px;	
}
.content_div_1_1, .content_div_2_1{
	padding: 25px 0 25px;
    text-align: center;
}
.content_div_1_1>p>img, .content_div_2_1>p>img{
	margin-top: 10px;
}
.content_div_1_1>p>span, .content_div_2_1>p>span{
	display: block;
    margin-top: 10px; 
    font-weight: normal;
    font-size: 14px;
    letter-spacing: -0.1em;
    color: #666;
}
.content_div_1_2 {
	width: 200px;
	height: 50px;
	border: 1px solid #d7d7d7;
	background-color: #034f96;
	cursor: pointer;
}
.content_div_2_2{
	width: 200px;
	height: 50px;
	border: 1px solid #d7d7d7;
	background-color: #454545;
	cursor: pointer;
}
.content_div_1_2>span, .content_div_2_2>span{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
.content_span_bottom{
	font-size: 11px;
    line-height: 32px;
    text-align: center;
    color: #767676;
}
.joinCaution {
    margin-top: 20px;
    line-height: 1.4;
    text-align: left;
    font-size: 13px;
}
.joinCaution strong {
    color: #ff0000;
}
.joinCaution dd {
    padding-left: 13px;
}
.joinCaution dd strong {
    text-decoration: underline;
}