<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.ComBoardDao">
 
    
  	<select id="selectNomalBoardDesc" resultType="nomalBoard">
  		select * from nomalBoard order by Nnum desc limit 10
  	</select>
  	
  	<select id="getCount" parameterType="java.util.HashMap" resultType="int"> <!-- 총 게시물 수 얻어오는 sql문 -->
    	select count(*) from comBoard where comId="${id}"
    </select>
    <select id="selectBoardPage" parameterType="java.util.HashMap" resultType="comBoard">
    	select c.* from(select a.*, b.CstartDay, b.CendDay from comboard a, comDay b where a.Cnum=b.Cnum) c where c.comId=${id} order by Cnum desc limit #{offset} ,#{boardsPerPage};
    </select>
     <update id="comCountUpdate" parameterType="java.util.HashMap">
        update comBoard set Ccount = #{ccount} where Cnum = #{cnum}
    </update>
    
  	<select id="comView" parameterType="java.util.HashMap" resultType="comBoard">
  		select * from comBoard where Cnum=${cnum}
  	</select>
  	
  	<insert id="insertComBoard" parameterType="comBoard">
  		insert into comBoard values(0,'${comName}','${ctitle}','${carea}','${cjob}','${ccarrer}','${comPhone}','${comEmail}',${cday},${cwokers},${cpay},'${ctext}',0,now(),'${comId}','${cxy}');
  	</insert>
  	<select id="selectCnum" parameterType="java.util.HashMap" resultType="int">
  		select Cnum from comboard where comId='${comId}' order by Cnum desc limit 1;
  	</select>
   	<update id="updateComBoard" parameterType="comBoard">
  		update comBoard set Ctitle = '${ctitle}', Carea = '${carea}', Cjob='${cjob}', Ccarrer='${ccarrer}', Cday=${cday}, Cwokers=${cwokers}, Cpay=${cpay}, Ctext='${ctext}', Cxy='${cxy}' where Cnum=${cnum} 
  	</update>
  	<delete id="deleteComBoard" parameterType="java.util.HashMap">
  		delete from comboard where Cnum=${cnum}
  	</delete>
  	<select id="selectComBoardOneM" parameterType="java.util.HashMap" resultType="comBoard">
  		select * from comboard where Cnum= ${cnum}
  	</select>
  	<!-- comUser -->
  	<select id="selectOne" parameterType="java.util.HashMap" resultType="comUser">
  		select * from comUser where comId = '${id}'
  	</select>
  	<!-- inComBoard -->
  	<select id="selectIncomBoard" parameterType="java.util.HashMap" resultType="inComBoard">
  		select * from incomboard where Cnum=${cnum}
  	</select>
  	<select id="InComBoardCount" parameterType="java.util.HashMap" resultType="int">
  		select count(Cnum) from incomboard where Cnum=${cnum}
  	</select>
  	<delete id="deleteInComBoard" parameterType="java.util.HashMap">
  		delete from incomboard where Cnum=${cnum} and nomalId='${nomalId}'
  	</delete>
  	<select id="inComBoardCount" resultType="inComBoardRe">
  		select Count(c.Cnum) as Count, c.Cnum from comBoard d, incomBoard c where c.Cnum =  d.Cnum
  	</select>
  	<insert id="insertInComBoard" parameterType="java.util.HashMap">
  		insert incomboard values(${cnum}, '${nomalId}', '${phone}', now())
  	</insert>
  	<!-- comDay -->
 	<insert id="insertComDay" parameterType="comDay">
 		insert into comday values(${cnum}, '${cstartDay}', '${cendDay}', ${deadline})
 	</insert>
 	<select id="selectComDayOne" parameterType="java.util.HashMap" resultType="comDay">
 		select * from comDay where Cnum=${cnum}
 	</select>
 	<update id="updateComDay" parameterType="comDay">
 		update comday set CstartDay='${cstartDay}', CendDay='${cendDay}' where Cnum=${cnum};
 	</update>
 	<delete id="deleteComDay" parameterType="java.util.HashMap">
 		delete from comday where Cnum=${cnum}
 	</delete>
 	<!-- 회원가입 -->
 	<insert id="insertComUser" parameterType="comUser">
 		insert into comUser values('${comId}','${comName}','${comEmail}', '${comPass}','${comMname}','${comPhone}','${comPhone2}', '${comAddr}','${comAddr2}','${comNum}','${comPhto}', now(), 0)
 	</insert>
 	<!-- id 중복확인 -->
 	  <select id="selectIdCheck" parameterType="java.util.HashMap" resultType="comUser">
    	select * from comUser where comId ='${id}';
    </select>
    
    <select id="selectSearchByKeyword" parameterType="java.util.HashMap" resultType="comBoard">
    	select * from comBoard
    	where 1=1
    	<if test="!(cb eq null)"> and
    		<foreach collection="cb" item="c" separator="or " open="(" close=")"> Cjob like '%${c}%'</foreach>
    	</if>
    	<if test="!(rb eq null)"> and Ccarrer like '%${rb}%'</if>
    	<if test="!(ar eq null)"> and Carea like '%${ar}%'</if>
    	order by Cnum desc limit #{offset}, #{boardsPerPage}
    </select>
    
    <select id="getCountSearchByKeyword" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from comBoard
    	where 1=1
    	<if test="!(cb eq null)"> and
    		<foreach collection="cb" item="c" separator="or " open="(" close=")"> Cjob like '%${c}%'</foreach>
    	</if>
    	<if test="!(rb eq null)"> and Ccarrer like '%${rb}%'</if>
    	<if test="!(ar eq null)"> and Carea like '%${ar}%'</if>
    </select>
    
    <!-- 메세지알람 -->
    <insert id="insertComM" parameterType="comM">
    	insert into comM values(0, ${cnum},'${nomalId}', '${comId}','${cmtext}', 0 , now())
    </insert>
    <delete id="deleteComM" parameterType="java.util.HashMap">
    	delete from comM where cmnum=${cmnum}
    </delete>
    <select id="comMcountNew" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from comM where comId='${id}' and reception = 0
    </select>
    <select id="comMcountAll" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from comM where comId ='${id}'
    </select>
    <select id="selectComM" parameterType="java.util.HashMap" resultType="comM">
    	select * from comM where comId='${id}' order by cmnum desc limit #{offset} ,#{boardsPerPage}
    </select>
    <select id="getCountM" parameterType="java.util.HashMap" resultType="int"> <!-- 총 게시물 수 얻어오는 sql문 -->
    	select count(*) from comM where comId='${id}' 
    </select>
  </mapper>