<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.NomalDao">
  
  	 <sql id="ntitle">
        <choose>
            <when test="ntitle != null">
                #{ntitle}
            </when>
            <otherwise>
                '제목없음'
            </otherwise>
        </choose>
    </sql>
    <sql id="ntext">
        <choose>
            <when test="ntext != ntext">
                #{ntext}
            </when>
            <otherwise>
                '내용없음'
            </otherwise>
        </choose>
    </sql>
  
  	<select id="selectOne" parameterType="java.util.HashMap" resultType="nomalUser">
  		select * from nomalUser where nomalId = '${id}'
  	</select>
  	
  	<select id="selectLimitDesc" resultType="nomalBoard">
  		select * from nomalBoard order by Nnum desc limit 4
  	</select>
  	
  	<select id = "areaJobNum" parameterType="String" resultType="int">
  		select count(*) from comboard where Carea like '%강남%'
  	</select>
  	
  	<select id="nomalView" parameterType="java.util.HashMap" resultType="nomalBoard">
  		select * from nomalBoard where Nnum=${nnum}
  	</select>
  	
  	<select id="getCount" resultType="int"> <!-- 총 게시물 수 얻어오는 sql문 -->
    	select count(*) from nomalBoard
    </select>
    
    <select id="selectBoardPage" parameterType="java.util.HashMap" resultType="nomalBoard">
    	select * from nomalBoard order by Nnum desc limit #{offset} ,#{boardsPerPage}
    </select>
  	
     <update id="nomalUpdate" parameterType="nomalBoard">
        update nomalBoard set
        Ncount = #{ncount}, Njob = #{njob}, Nemail = #{nemail},
        Ntitle = <include refid="ntitle"/>,
        Ntext = <include refid="ntext"/>
        where Nnum = #{nnum}
    </update>
  </mapper>
