<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="dao.NomalDao">
  
  	 <sql id="ntitle">
        <choose>
            <when test="ntitle != null">
                '${ntitle}'
            </when>
            <otherwise>
                '제목없음'
            </otherwise>
        </choose>
    </sql>
    <sql id="ntext">
        <choose>
            <when test="ntext != ntext">
                '${ntext}'
            </when>
            <otherwise>
                '내용없음'
            </otherwise>
        </choose>
    </sql>
  
  	<select id="selectOne" parameterType="java.util.HashMap" resultType="nomalUser">
  		select * from nomalUser where nomalId = '${id}'
  	</select>
  	
  	<select id="selectLimitDesc" resultType="comBoard">
  		select * from comBoard order by Cnum desc limit 10
  	</select>
  	
  	<select id = "areaJobNum" parameterType="java.util.HashMap" resultType="int">
  		select count(*) from comboard where Carea like '%${kiring}%'
  	</select>
  	
  	<select id="nomalView" parameterType="java.util.HashMap" resultType="nomalBoard">
  		select * from nomalBoard where Nnum=${nnum}
  	</select>
  	
  	<select id="getCount" resultType="int"> <!-- 총 게시물 수 얻어오는 sql문 -->
    	select count(*) from nomalBoard
    </select>
    <select id="getCountBoardList" parameterType="java.util.HashMap" resultType="int"> <!-- 총 게시물 수 얻어오는 sql문 -->
    	select count(*) from nomalBoard where nomalId='${id}'
    </select>
    
    <select id="selectBoardPage" parameterType="java.util.HashMap" resultType="nomalBoard">
    	select * from nomalBoard where nomalId='${id}' order by Nnum desc limit #{offset} ,#{boardsPerPage}
    </select>
  	
     <update id="nomalUpdate" parameterType="nomalBoard">
        update nomalBoard set
        Ncount = #{ncount}, Njob = #{njob}, Nemail = #{nemail},
        Ntitle = <include refid="ntitle"/>,
        Ntext = <include refid="ntext"/>
        where Nnum = #{nnum}
    </update>
    
    <update id="nomalBoardModify" parameterType="nomalBoard">
    	update nomalBoard set
        Ncount = #{ncount}, Njob = #{njob}, Nemail = #{nemail}, Ncareer = #{ncareer},
        Ntitle = <include refid="ntitle"/>,
        Ntext = <include refid="ntext"/>
        where Nnum = #{nnum}
    </update>
    
    <!-- 회원가입 -->
    <insert id="insertNomalUser" parameterType="nomalUser">
    	insert into nomalUser values('${nomalId}', '${nomalPass}', '${name}', ${age},'${address}','${address2}', '${phone}',now(),'${email}','${license}', 0, ${inpoDis})
    </insert>
    <select id="selectIdCheck" parameterType="java.util.HashMap" resultType="nomalUser">
    	select * from nomalUser where nomalId ='${id}';
    </select>
    
    <select id="selectSearchByKeyword" parameterType="java.util.HashMap" resultType="nomalBoard">
    	select * from nomalBoard
    	where 1=1
    	<if test="!(cb eq null)"> and
    		<foreach collection="cb" item="c" separator="or " open="(" close=")"> Njob like '%${c}%'</foreach>
    	</if>
    	<if test="!(rb eq null)"> and Ncareer like '%${rb}%'</if>
    	<if test="!(ar eq null)"> and Narea like '%${ar}%'</if>
    	<if test="!(kw eq null)"> and Ntitle like '%${kw}%'</if>
    	order by Nnum desc limit #{offset}, #{boardsPerPage}
    </select>
    
    <select id="getCountSearchByKeyword" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from nomalBoard
    	where 1=1
    	<if test="!(cb eq null)"> and
    		<foreach collection="cb" item="c" separator="or " open="(" close=")"> Njob like '%${c}%'</foreach>
    	</if>
    	<if test="!(rb eq null)"> and Ncareer like '%${rb}%'</if>
    	<if test="!(ar eq null)"> and Narea like '%${ar}%'</if>
    	<if test="!(kw eq null)"> and Ntitle like '%${kw}%'</if>
    </select>

    <insert id="insertNomalBoard" parameterType="nomalBoard">
    	insert into nomalBoard values(0,'${ntitle}','${narea}','${njob}','${ncareer}','${nphone}','${nemail}','${nday}',now(),'${ntext}',0,'${nomalId}')
    </insert>
    
    <select id="getPhoneNum" parameterType="nomalBoard" resultType="String">
    	select phone from nomaluser where nomalId='${nomalId}'
    </select>
    
    <select id="listComNum" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from comboard where date(CreateDay)='${TimeCom}'
    </select>
    
    <select id="listNomalNum" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from nomalboard where date(NjoinDay)='${TimeNomal}'
    </select>
    
    <select id="userarea" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from comboard where Carea like '%${userarea}%'
    </select>
    
    <select id="comarea" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from nomalboard where Narea like '%${comarea}%'
    </select>
    <!-- nomal메세지 알람 -->
    <insert id="insertNomalM" parameterType="nomalM">
    	insert into nomalM values(0, ${cnum}, '${nomalId}', '${nmtext}', 0, now())
    </insert>
    <delete id="deleteNomalM" parameterType="java.util.HashMap">
    	delete from nomalM where nmnum=${nmnum}
    </delete>
    <select id="nomalMcountNew" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from nomalM where nomalId='${id}' and reception = 0
    </select>
    <select id="nomalMcountAll" parameterType="java.util.HashMap" resultType="int">
    	select count(*) from nomalM where nomalId ='${id}'
    </select>
    <select id="selectNomalM" parameterType="java.util.HashMap" resultType="nomalM">
    	select * from nomalM where nomalId='${id}' order by nmnum desc limit #{offset} ,#{boardsPerPage}
    </select>
    <select id="getCountM" parameterType="java.util.HashMap" resultType="int"> <!-- 총 게시물 수 얻어오는 sql문 -->
    	select count(*) from nomalM where nomalId='${id}' 
    </select>
 	<update id="changeNomalM" parameterType="java.util.HashMap">
 		update nomalm set reception=1 where cnum=${cnum} and nomalId='${id}';
 	</update>
  </mapper>
