.side {
	width: 25%;
	float: right;
	background-color: #fafafa;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 72%;
	float: right;
	margin-right:3%;
	position: static;
}
.sideLogin{
    margin-top: 10px;
    height: 92px;
    border: 2px solid #c0c0c0;
    border-top: 3px solid #0d73d1;
    background-color: #ffffff;
}
.loginArea_div{
	height: 60px;
}
.loginArea_div_1{
	width: 49%; 
	border: 1px solid #c0c0c0; 
	height: 60px; 
	float: left;
}
.loginArea_div_2{
	width: 49%; 
	border: 1px solid #c0c0c0; 
	height: 60px; 
	float: right;
	margin-right: 1px;	
}
.loginArea_div_1>img, .loginArea_div_2>img{
	width: 100%;
	height: 60px;
	cursor: pointer;
}
.loginArea_div2{
	margin-bottom: 0px;
	background: #f6f7fa;  
	height: 30px;
}
.loginArea_div2_a{
	font-size: 13px;
	font-weight: bold;
	color: #000;
}
.loginArea_div2_a2, .loginArea_div2_a3{
	font-size: 12px;
	margin-left: 5px;
	color: #000;
}
.loginArea_div2>span{
	font-size: 13px;
	color: #c0c0c0;
}
.loginArea_div3{
	height: 100%;
	width: 30%;	
	float: left;
}
.loginArea_div4{
	height: 100%;
	margin-top: 10px;	
}
.loginArea_div3>img{
	width: 60px;
    height: 60px;
    float: left;
    margin-top: 10px;
    margin-left: 15px;
}
.loginArea_div4_1{
	float: right;
	margin-right: 5px;
	border: 1px solid #0d73d1;
	border-radius: 4px;
	background-color: #0d73d1;
	cursor: pointer;
}
.loginArea_div4_1>span{
	color: #fff;
	font-size: 12px;
	padding: 5px;
}

.loginArea_div4_2, .loginArea_div4_3, .loginArea_div4_4{
	float: left;
	font-size: 13px;
}
.loginArea_div4_2>span,.loginArea_div4_3>span{
	font-weight: bold;
	font-size: 15px;
}
.loginArea_div4_4>a{
	color:red;
}
.loginArea p{
	padding-left: 20px;
	font-size: 12px;
}
.loginArea div a{
	text-decoration:none;
}
.loginBtn{
	margin: 0 auto;
	height: 45px;
	width: 230px;
	border: 2px solid #BDBDBD; 
	border-radius: 3px;
	text-align: center;
	background-color: #f2f2f2;
}

.search{
	padding-left: 20px;
	padding-top: 7px;
	float: left;
	font-size: 12px;
}
.LoginJoin{
	padding-right:	20px;
	padding-top: 7px;
	float: right;
	font-size: 12px;
	
}
/* 광고부분 */
.content_advertising{
	width: 100%;
	height: 153px;
}
.content_advertising_1{
	width: 63.1%; 
	height: 150px; 
	float: left; 
	border: 1px solid #c0c0c0;
}
.content_advertising_2{
	width: 34.3%; 
	height: 150px; 
	float: right; 
	border: 1px solid #c0c0c0;
}
.recentHelp, .recentFreeTable{
	height: auto;
	border-top: 3px solid #0d73d1;
	margin-top: 20px; 
}
.recentHelp_1{
	width: 100%; 
	height: 200px; 
	background-color: #fff;
	border-left: 1px solid #0d73d1;
    border-right: 1px solid #0d73d1;
}
.recentHelp_1_d{
	width: 90%; 
	margin: 0 auto;
	background: #ecf4fb;
    border: 1px solid #a0c1de;
    height: 120px;
}
.recentHelp_1_p{
	margin-top:0px;
	width: 100%;
    font-size: 20px;
    font-family: Nanum;
    line-height: 20px;
    color: #066cca;
    letter-spacing: -1px;
    vertical-align: text-bottom;
}
.recentHelp_1_p>span{
	font-weight: 700;
}
.recentHelp_1_div{
	margin: 0 auto;
	width: 100%%;
}
.recentHelp_1_div>ul>li>span{
	font-size: 15px;
    color: #0d73d1;
}
.recentHelp_1_dt{
	float: left;
}
.recentHelp_1_dd{
	float: left;
    width: 85px;
    height: 32px;
    margin-left: 0px;
}
.recentHelp_1_dd>a{
	color: #fff;
    background: #4390da;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
    display: block;
}
.recentHelp_1_dt>input{
	width: 500px;
    height: 30px;
    line-height: 25px;
    text-indent: 10px;
    background: #fff;
    border: 1px solid #4390da;
}
.recentHelp_1_div2_dt{
    font-size: 15px;
    color: #0d73d1;
    line-height: 30px;
}
.recentHelp_1_div2_dd{
	float: left;
    width: 85px;
    height: 32px;
}
.recentHelp_1_div2_dt2{
	font-size: 15px;
    color: #0d73d1;
    line-height: 30px;
    float: left;
}
.recentHelp_1_div2_dd2>select{
	width: 195px; 
	height: 32px; 
	padding-left: 5px; 
	line-height: 30px; 
	border: 1px solid #cecece; 
	font-size: 13px; 
	color: #333; 
	vertical-align: middle;
}
.recentFreeTable{
	margin-top: 15px;
}
.bestinfo{
	background: #fff;
}
.bestinfo p, .recentFreeTable p{
	font-weight: 900;
}
.bestinfo p{
	margin-top: -10px;
}
.recentFreeTable p{
	margin-top: 20px;
}
.searchsdumi{
	float: left;
	width: 25%;
}
.Shortcut{
	height: 220px;
	width: 100%;
	margin-top: 20px;
}
.ShortcutMain{
	width: 100%;
	height: 180px;
	border: 3px solid #f2f2f2;
}
.ShortcutMain_dvi{
	float: left; 
	width:32.5%; 
	height: 50%;
	margin: 0 auto;
	text-align: center;
	font-size: 11px;
	border: 1px solid #f2f2f2;
	cursor:pointer;
}
/* �������� ǥ�����̺� */
.infoBox{
	height:300px; 
	list-style: none; 
	margin: 0 auto; 
	padding: 1px 0 0;
	background-color: #ffffff;
}
.first_info{
	width: 50%; 
	height : 20%; 
	border: 1px solid #d5dbe9; 
	display: list-item;
	position: relative; 
	float: left; 
	margin: -1px 0 0 -1px; 
	box-sizing: border-box;
}
.first_info>a{
	padding: 14px 0 0 158px; 
	text-decoration: none;
}

.info_span1, .info_span1_1{
	color: #0372ab; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 130px; 
	height: 41px; 
	padding: 15px 0 0 15px;
}
.info_span1{
	background-color: #ebf8ff; 
}
.info_span2{
	margin-left: 170px;
	margin-top: 5px;
}
#span_info{
	font-size: 10px;
}
#span_info> span{
	padding-right: 5px;
	padding-left: 5px;
	margin-top: -5px;
}
.span_info_in{
	border-right: 1px solid #f2f2f2;
}
/* �Խ��� �Ǻκ� */
ul.tabs {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    height: 50px;
    border-bottom: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    width: 100%;
    font-family:"dotum";
    font-size:16px;
}
ul.tabs li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:49.8%;
    height: 50px;
    line-height: 31px;
    border: 1px solid #f2f2f2;
    border-top: 1px solid #034f96;
    border-left: none;
    font-weight: bold;
    background: #f2f2f2;
    overflow: hidden;
    position: relative;
}
ul.tabs li.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.tab_container {
    border: 3px solid #f2f2f2;
    border-top: none;
    clear: both;
    float: left;
    width: 100%;
    background: #FFFFFF;
}
.tab_content {
    padding: 5px;
    font-size: 15px;
    display: none;
}
.tab_container .tab_content ul {
    width:100%;
    margin:0px;
    padding:0px;
    
}
.tab_container .tab_content ul li {
    padding:5px;
    display:inline;
}

 #boardTabs {
    width: 100%;
    margin: 0 auto;
}
.content_in_lis{
	margin-left: 20px;
	height: 20px;
	width: 80%;
	list-style: none;	
}

.content_in_lis>span>a{
	text-decoration:none;
}
.content_in_li{
	margin-left: 50px;
}
#content_item{
	font-size: 15px;
}
#content_item2>span{
	clolr:#4E5869;
	font-size: 12px;
}
#content_item3{
	color:#034f96;
	font-size: 12px;
}