.contents_top {
	padding-top: 5px;
	border-bottom: 1px solid #b5b5b5;
}

.contents_top>span {
	font-size: 12px;
	cursor: pointer;
}

.contents_top2 {
	border-bottom: 3px solid #b5b5b5;
	font-size: 12px;
	height: 25px;
}

.contents_top2_1 {
	width: 49%;
	float: left;
}

.contents_top2_2 {
	width: 49%;
	float: right;
	text-align: right;
}

.contents_top2 .top2_1 {
	font-size: 15px;
	font-weight: bold;
}

table {
	margin: 0 auto;
	margin-top: 30px;
	border-collapse: collapse;
	width: 70%;
}

th, td {
	background-color: #fff;
	border: 1px solid #d7d7d7;
	text-align: center;
}

td>a {
	text-decoration: none;
}

.trs {
	height: 50px;
}

.trs2>td>span {
	float: left;
	margin-left: 30px;
}

.trs2>td>label {
	float: left;
	margin-left: 50px;
}

.td_area_1>span {
	margin-left: 30px;
}

.td_area_1>input {
	width: 80%;
	height: 30px;
	float: right;
	border: none;
	font-size: 15px;
}

.td_area_2 {
	border-bottom: none;
	font-size: 18px;
	font-weight: bold;
}

.td_area_2>span {
	float: left;
	margin-left: 15%;
}

.td_area_3 {
	border: none;
	width: 40%;
}

.td_area_3_map {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 10px;
}

.textbottom {
	margin: 0 auto;
	margin-top: 30px;
	border-collapse: collapse;
	width: 70%;
	height: 180px;
}

.textAreas {
	width: 49%;
	float: left;
}

.textAreas>textArea {
	width: 100%;
}

.textbottom_div {
	width: 50%;
	height: 165px;
	border: 1px solid #d7d7d7;
	float: right;
}

.textbottom_button {
	width: 70%;
	margin: 0 auto;
	height: 50px;

}

.textbottom_button>input {
	margin-left:25%;
	float: left;
}

.footer {
	padding: 10px 0;
	background-color: #f2f2f2;
	text-align: center
}

.copy {
	font-size: 10px;
}