.textbottom_div_1{
	width: 80%;
	margin: 0 auto;
	overflow:auto; 
}
.textbottom_div_1_1{
	margin-top: 10px;
	background-color: #0f4579;
	border-radius: 10px;
}
.textbottom_div_1_1>span{
	color: #fff;
}
.textbottom_div_1_1_1{
	font-size: 14px;
}
.textbottom_div_1_1_2{
	font-size: 14px;
}
.textbottom_div_1_1_3{
	font-size: 13px;
}
.textbottom_div_re{
	width: 100%;
	text-align: right;
}
.textbottom_div_re_span1{
	margin-right: 20px;
}
.textbottom_div_re_span2{
	color: red;
}
.textbottom_div_re_span3{
	margin-right: 150px;
}